.admin .mgt {
  width:100%;
  height:100%;
}

.admin .mgt .contents_box{ 
  display:flex;
  align-items: center;
  width: 100%;
  height: calc(100% - 2.5rem);
  background: #eaeaea;
  /* box-sizing: inherit; */
}

.admin .mgt .content_box {
  width: 100%;
  height: auto;
  background-color: #fff;
  /* box-sizing: inherit; */
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.admin .mgt .content_header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 3.4rem;
  padding: 0.5rem 1.0rem;
  /* box-sizing: inherit; */
  overflow: hidden;    
  color: #7d7d7d;
  border-bottom: 1px solid #eee;
  font-size:0.8rem;
  font-weight: 600;
}

.admin .mgt .category_box{
  width:35% !important;
  margin: 0 1.2rem 0 0;
  height: 100%;
  overflow-y: scroll;
}

.admin .mgt .dnm_content{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(65% - 1.2rem);
  height: 100%;
  /* box-sizing: inherit; */
}

.admin .mgt .cat_in{
  width:100%;
  margin:0 0 1.2rem 0;
}

.admin .mgt .cat_in .input_container {
  width: calc(50% - 2rem);
  margin: 0 1rem;
}

.admin .mgt .cat_in .content_header{
  justify-content:space-between;
}

.admin .mgt .cat_in .save_btn{
  margin: 0 0 0 0.2rem;
}

.admin .mgt .cat_sel{
  width:100%;
  height:calc(70% - 1.2rem);
  
}

.admin .mgt .cat_sel .content_header{
  display:flex;
  padding:0 2.5rem;
  background: #DB9A61;
  border-radius: 5px 5px 0 0;
  align-items:flex-end;
}

.admin .mgt .cat_sel .title{
  display: block;
  background: #fff;
  color: #DB9A61;
  font-weight: 400;
  border-radius: 20px 20px 0 0;
  padding: 0.8rem 5rem;
}

.admin .mgt .cat_in .input_container_box {
  display: flex;
  height: 3.4rem;
}